DJANGO_SECRET_KEY=your-secret-key-change-in-production
DJANGO_SETTINGS_MODULE=tutor_app.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
USE_HTTPS=False

MONOBANK_TOKEN=ue4T_yphnGg63VsYapRWK4JZ1jrqlh6slIS6AXwChfWs

POSTGRES_DB=tutor_app
POSTGRES_USER=tutor_user
POSTGRES_PASSWORD=tutor_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@tutorapp.local
