{% extends 'base.html' %}

{% block title %}
  Change password
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'user:change-password' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="form-errors">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <label>
      Old password:
      {{ form.old_password }}
    </label>
    {% if form.old_password.errors %}
      <div class="field-errors">
        {{ form.old_password.errors }}
      </div>
    {% endif %}

    <label>
      New password:
      {{ form.new_password }}
    </label>
    {% if form.new_password.errors %}
      <div class="field-errors">
        {{ form.new_password.errors }}
      </div>
    {% endif %}

    <label>
      Repeat new password:
      {{ form.repeat_new_password }}
    </label>
    {% if form.repeat_new_password.errors %}
      <div class="field-errors">
        {{ form.repeat_new_password.errors }}
      </div>
    {% endif %}

    <input type="submit" value="Change password">
  </form>
{% endblock %}
