{% extends 'layouts/auth.html' %}

{% block title %}
  Change password
{% endblock %}

{% block topbar %}
  {% include 'includes/topbar.html' %}
{% endblock %}

{% block card %}
<form class="form" method="post" action="{% url 'user:change-password' %}">
  {% csrf_token %}

  <h1 class="form__title">Change password</h1>

  {% include 'includes/form_errors.html' %}
  {% include 'includes/field.html' with field=form.old_password label="Current password" %}
  {% include 'includes/field.html' with field=form.new_password label="New password" %}
  {% include 'includes/field.html' with field=form.repeat_new_password label="Repeat new password" %}

  <button type="submit" class="btn btn--primary btn--block">Change password</button>
  <p class="auth-card__switch">
    Forgot your current password? <a href="{% url 'user:reset-password-request' %}">Reset it</a>
  </p>
</form>
{% endblock %}
