{% extends 'base.html' %}

{% block title %}
  App - login
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'user:login' %}">
    {% csrf_token %}
    {% if token %}
      <input type="hidden" name="token" value="{{ token }}">
    {% endif %}

    {% if form.non_field_errors %}
      <div class="form-error">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <label for="username">Email:</label>
    {% if form.username.errors %}
      <div class="field-error">{{ form.username.errors }}</div>
    {% endif %}
    <input
      name="username"
      type="text"
      id="username"
      placeholder="Enter your email address"
      autofocus
      required
    >

    <label for="password">Password:</label>
    {% if form.password.errors %}
      <div class="field-error">{{ form.password.errors }}</div>
    {% endif %}
    <input
      name="password"
      type="password"
      id="password"
      placeholder="Enter your password"
      required
    >

    <input type="submit" value="Login">
  </form>
{% endblock %}
