{% extends 'base.html' %}

{% block title %}
	My - groups
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'schedule:groups' %}">
    {% csrf_token %}
    <label>
      Group name:
      {{ form.name }}
    </label>
    <input type="submit" value="Create">
  </form>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Students count</th>
      <th>Delete group</th>
    </tr>
    {% for group in groups %}
    <tr>
      <td>{{ group.id }}</td>
      <td><a href="{% url 'schedule:group-students' pk=group.id %}">{{ group.name }}</a></td>
      <td>{{ group.active_students_count }}</td>
      <td><a href="{% url 'schedule:group-delete' pk=group.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
