{% extends 'base.html' %}

{% block title %}
	My teachers and groups
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Lessons balance</th>
    </tr>
    {% for profile in profiles %}
    	<tr>
        {% if profile.group %}
        	<td>{{ profile.group.name }}</td>
          <td>GROUP</td>
        {% else %}
          <td>{{ profile.teacher.name }}</td>
          <td>INDIVIDUAL</td>
        {% endif %}
        <td>
          {{ profile.total_lessons_count }}
          <a href="{% url 'payments:available-tariffs' pk=profile.id %}">Top up</a>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
